@import '../../../../styles/variables.scss';
@import '../../../../styles/third-party/includes-media';

.title {
	width: 450px;
	margin: 88px auto 0;
	text-align: center;
}
.container {
	@include flex-container;
}
.banner {
	height: 550px;
	width: 100%;
	background-image: url('../../../../assets/images/banners/main_banner_mobile.jpg'); // Mobile background image by default
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: center;

	@include media('≥tablet') {
		// For tablets and above
		background-image: url('../../../../assets/images/main_banner.jpg'); // Tablet background image
		background-color: #000;
		color: white;
	}

	@include media('>tablet') {
		// For desktops and above
		background-image: url('../../../../assets/images/banners/main_banner_desktop.jpg'); // Desktop background image
		height: 90vh;
	}

	.container {
		@include media('≥tablet') {
			flex-direction: column;
			max-height: 760px;
		}
	}
}
.image-container,
.text-container {
	flex: 1;
	padding: 15px;
}

.image-container {
	img {
		width: 100%;
		height: auto;
	}
}
.services {
	text-align: center;
	.service-list {
		@include flex-container;

		.service {
			padding: 11px;
			flex-basis: 100%;
			text-align: center;

			@include media('>tablet') {
				flex-basis: calc(100% / 3 - 22px);
			}
		}
	}
}

.testimonials {
	text-align: center;

	.container {
		@include flex-container;

		.testimonial-card {
			padding: 11px;
			width: 100%;
			margin: 11px;
			text-align: left;
			border: #f9f9f9 1px solid;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

			@include media('>tablet') {
				flex-basis: calc(90% / 2 - 22px);
			}
		}
	}
}
