.forgot-password-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 1rem;
}

.forgot-password-card {
	h2 {
		text-align: center;
		margin-bottom: 1.5rem;
	}
}
