<header class="top-bar">
  <div class="logo">
    <h1> <img src="../../../../assets/images/logos/logo_white.png" alt="Your Logo" /> Lunar Trailblazer Kit</h1>

  </div>
  <div class="tagline">

  </div>
  <nav class="navigation">
    <a class="btn" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="btn" routerLink="about" routerLinkActive="active-link">About</a>
    <a class="btn" routerLink="contact" routerLinkActive="active-link">Contact</a>
    <a class="btn" routerLink="services" routerLinkActive="active-link">Services</a>
    <a class="btn" routerLink="admin/" routerLinkActive="active-link">Admin</a>
    <a class="btn btn--blue" *ngIf="!isLoggedIn" routerLink="auth/login"> Log in</a>
    <a class="btn btn--red" *ngIf="isLoggedIn" (click)="logout()">Log out</a>

    <!-- Add more links as needed -->
  </nav>



</header>