@import '../../../../styles/variables.scss';
@import '../../../../styles/third-party/includes-media';

.top-bar {
	position: sticky;
	top: 0;
	z-index: 100;
	font: $font-brandon;
	background-color: #193d6a;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

	.logo {
		img {
			height: 50px;
		}
	}

	.tagline {
		h1 {
			font-size: 1.5rem;
			color: white;
			margin: 0;
			font: $font-brandon;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 11px;
		}
	}

	.navigation {
		a {
			color: white;
			text-decoration: none;
			margin: 0 1rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
