<header class="top-bar">
  <div class="logo">
    <img src="assets/logo.png" alt="Your Logo" />
  </div>
  <div class="tagline">
    <h1>Lunar Trailblazer Kit</h1>
  </div>
  <nav class="navigation">
    <a routerLink="/">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="contact">Contact</a>
    <a routerLink="services">Services</a>
    <a routerLink="admin/">Admin</a>
    <a *ngIf="!isLoggedIn" routerLink="auth/login"> Log in</a>
    <a class="btn btn-red" *ngIf="isLoggedIn" (click)="logout()">Log out</a>

    <!-- Add more links as needed -->
  </nav>



</header>